misc/
OhanashiGen/.firebase/
imas-talk-maker/node_modules/
imas-talk-maker/.firebase/
Utility/.idea/workspace.xml
imas-talk-maker-v3/.firebase/
database/.idea/workspace.xml
database/.idea/
database/venv/
