<h1 class="text-center d-none d-sm-block my-3">キャラを選択</h1>
<h2 class="text-center d-xs-block d-sm-none my-3">キャラを選択</h2>
<form class="mx-auto my-3 px-3">
  <div class="form-group">
      <label for="name">絞り込み</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="名前かふりがなの一部分" [ngModel]="searchWord"
      (ngModelChange)="changeSearchWord($event)">
  </div>
  <button (click)="notLazyLoadFlg=true">画像を全読込みする(※初回は通信量が嵩みます)</button>
</form>
<div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card" *ngFor="let data of dataList2">
    <div class="card-header" role="tab" id={{data.id}}>
      <h5 class="mb-0">
        <a class="collapsed text-body" data-toggle="collapse" href={{data.href}}
          role="button" aria-expanded="false" (click)="workaround()">
          <ruby><rb>{{data.name}}</rb><rt>{{data.ruby}}</rt></ruby>
        </a>
      </h5>
    </div>
    <div id={{data.id2}} class="collapse" role="tabpanel" data-parent="#accordion">
      <div class="card-body d-flex flex-wrap">
        <div *ngFor="let url of data.images">
          <img *ngIf="notLazyLoadFlg" src={{url}} width="76px" height="76px" class="m-1" (click)="click(data.name, url)">
          <img *ngIf="lazyLoadFlg" lazyLoad={{url}} width="76px" height="76px" class="m-1" (click)="click(data.name, url)"
          [scrollObservable]="scrollObservable">
        </div>
      </div>
    </div>
  </div>
</div>