// カードヘッダのどこをクリックしても開閉可能 ※裏技
// http://cccabinet.jpn.org/bootstrap4/components/collapse#accordion-block
.card .card-header a[data-toggle="collapse"] {
    display: block;
    padding: .75rem 1.25rem;
    margin: -.75rem -1.25rem;
}
.card .card-header a[data-toggle="collapse"]:active,
.card .card-header a[data-toggle="collapse"]:hover,
.card .card-header a[data-toggle="collapse"]:focus {
    text-decoration: none;
}