<h1 class="text-center d-none d-sm-block my-3">おはなしジェネレーター</h1>
<h2 class="text-center d-xs-block d-sm-none my-3">おはなしジェネレーター</h2>
<div class="col-xs-12 col-sm-8 col-md-6 mx-auto my-3">
    <form class="border p-3">
        <div class="form-group">
            <label for="name">キャラ名</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="キャラ名" [(ngModel)]="nowTalk.name">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <div class="d-flex">
                <input type="text" class="form-control mr-3" id="url" name="url" placeholder="表示する画像のURL" [(ngModel)]="nowTalk.url">
                <button class="form-control btn-secondary px-0" style="width: 100px;" (click)="moveSelectView()">選択...</button>
            </div>
        </div>
        <div class="form-group">
            <label for="message">喋る内容</label>
            <textarea class="form-control text-justify" id="message" name="message" placeholder="喋る内容" [(ngModel)]="nowTalk.message"
                style="height: 100px;">
            </textarea>
        </div>
        <div class="form-group">
            <label>プレビュー</label>
            <app-talk-box url={{nowTalk.url}} name={{nowTalk.name}} message={{nowTalk.message}}></app-talk-box>
        </div>
        <div class="d-flex">
            <button class="form-control btn-primary mr-3 px-0" (click)="addTalk()">追加</button>
            <button class="form-control btn-primary mr-3 px-0" (click)="editTalk()" [ngClass]="nowTalk.id == 0 ? 'd-none' : 'd-inline'">変更</button>
            <button class="form-control btn-primary mr-3 px-0" (click)="upTalk()" [ngClass]="nowTalk.id == 0 ? 'd-none' : 'd-inline'">↑↑</button>
            <button class="form-control btn-primary mr-3 px-0" (click)="downTalk()" [ngClass]="nowTalk.id == 0 ? 'd-none' : 'd-inline'">↓↓</button>
            <button class="form-control btn-primary px-0" (click)="deleteTalk()" [ngClass]="nowTalk.id == 0 ? 'd-none' : 'd-inline'">削除</button>
        </div>
    </form>
    <div class="border p-3  my-3">
        <app-preview (changeForm)="changeForm($event)"></app-preview>
    </div>
</div>