<h1 class="text-center d-none d-sm-block my-3">アイマス会話メーカー(旧版)</h1>
<h2 class="text-center d-xs-block d-sm-none my-3">アイマス会話メーカー(旧版)</h2>
<p class="text-center ml-3">Ver.
    <a href="https://github.com/YSRKEN/ohanashi">1.15.12</a>　作者：
    <a href="https://twitter.com/YSRKEN" class="mr-3">@YSRKEN</a>
    <span class="align-middle d-inline-block mt-1">
        <span id="anchor"></span>
    </span>
</p>
<div class="text-center">
    <span><strong>このWebアプリケーションは更新されません。</strong></span><br>
    <span><strong>今後は<a href="https://imas-talk-maker.firebaseapp.com">Ver.2 系列</a>をお使いください。</strong></span>
</div>
<div class="text-center">
    <a href="http://ysrken.seesaa.net/article/ohanashigen.html" target=”_blank”>Ver.1 系列の操作説明(ヘルプ)</a>
</div>
<div class="col-xs-12 col-sm-8 col-md-6 mx-auto my-3">
    <form class="border p-3">
        <div class="form-group">
            <label for="name">キャラ名</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="キャラ名" [(ngModel)]="nowTalk.name">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <div class="d-flex">
                <input type="text" class="form-control mr-3" id="url" name="url" placeholder="表示する画像のURL" [(ngModel)]="nowTalk.url">
                <button class="form-control btn-secondary px-0" style="width: 100px;" (click)="moveSelectView()">選択...</button>
            </div>
        </div>
        <div class="form-group">
            <label for="message">喋る内容</label>
            <textarea class="form-control text-justify" id="message" name="message" placeholder="喋る内容" [(ngModel)]="nowTalk.message"
                style="height: 100px;">
            </textarea>
        </div>
        <div class="d-flex">
            <div class="form-group form-check mr-3">
                <input type="checkbox" class="form-check-input" id="derepoFlg" name="derepoFlg" [(ngModel)]="derepoFlg" (click)="checkDerepoFlg()">
                <label class="form-check-label" for="derepoFlg">デレぽモードにする</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="doubleFlg" name="doubleFlg" [(ngModel)]="doubleFlg" (click)="checkDoubleFlg()">
                <label class="form-check-label" for="doubleFlg">ダブルモードにする</label>
            </div>
        </div>
        <div class="form-group" [ngClass]="derepoFlg ? 'd-block' : 'd-none'">
            <label for="favs">ファボ数</label>
            <button class="ml-3" (click)="setFavAuto()">乱数で決定</button>
            <input type="text" class="form-control" id="favs" name="favs" placeholder="XXXX" [(ngModel)]="nowTalk.favs" maxlength='5'>
        </div>
        <div class="form-group" [ngClass]="derepoFlg ? 'd-block' : 'd-none'">
            <label for="date">タイムスタンプ</label>
            <button class="ml-3" (click)="setTimestampAuto()">適当に決定</button>
            <input type="text" class="form-control" id="date" name="date" placeholder="MM-DD HH:MM" [(ngModel)]="nowTalk.date" maxlength='11'>
        </div>
        <div class="form-group" [ngClass]="doubleFlg ? 'd-block' : 'd-none'">
            <label for="url">URL2</label>
            <div class="d-flex">
                <input type="text" class="form-control mr-3" id="url2" name="url2" placeholder="表示する画像のURL" [(ngModel)]="nowTalk.url2">
                <button class="form-control btn-secondary px-0" style="width: 100px;" (click)="moveSelectView2()">選択...</button>
            </div>
        </div>
        <div class="form-group">
            <label>プレビュー</label>
            <div class="border" [ngClass]="doubleFlg ? 'd-none' : 'd-block'">
                <div class="border" [ngClass]="derepoFlg ? 'derepo-style' : 'normal-style'">
                    <app-talk-box url={{nowTalk.url}} name={{nowTalk.name}} message={{nowTalk.message}} derepoFlg={{derepoFlg2}}
                    favs={{nowTalk.favs}} date={{nowTalk.date}}></app-talk-box>
                </div>
            </div>
            <div class="border" [ngClass]="doubleFlg ? 'd-block' : 'd-none'">
                <div class="border" [ngClass]="derepoFlg ? 'derepo-style' : 'normal-style'">
                    <app-talk-box-double url={{nowTalk.url}} url2={{nowTalk.url2}} derepoFlg={{derepoFlg2}}
                    favs={{nowTalk.favs}} date={{nowTalk.date}}
                    name={{nowTalk.name}} message={{nowTalk.message}}></app-talk-box-double>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <button class="form-control btn-primary mr-3 px-0" (click)="addTalk()">追加</button>
            <button class="form-control btn-primary mr-3 px-0" (click)="editTalk()" [ngClass]="nowTalk.id == 0 ? 'd-none' : 'd-inline'">変更</button>
            <button class="form-control btn-primary mr-3 px-0" (click)="upTalk()" [ngClass]="nowTalk.id == 0 ? 'd-none' : 'd-inline'">↑↑</button>
            <button class="form-control btn-primary mr-3 px-0" (click)="downTalk()" [ngClass]="nowTalk.id == 0 ? 'd-none' : 'd-inline'">↓↓</button>
            <button class="form-control btn-primary px-0" (click)="deleteTalk()" [ngClass]="nowTalk.id == 0 ? 'd-none' : 'd-inline'">削除</button>
        </div>
    </form>
    <form class="border p-3 my-3">
        <div [ngClass]="derepoFlg ? 'derepo-width' : 'normal-width'">
                <app-preview id="capture" (changeForm)="changeForm($event)" derepoFlg={{derepoFlg2}}
                refreshFlg={{refreshFlg}}
                (refreshDraw)="refreshDraw()"></app-preview>
        </div>
        <div class="d-flex mt-3" id="anchor2">
            <button class="form-control btn-primary mr-3 px-0" (click)="savePreview()">保存</button>
            <button class="form-control btn-primary mr-3 px-0" (click)="writeCanvas()">画像化</button>
            <button class="form-control btn-primary mr-3 px-0" (click)="setPreset()">初期化</button>
            <button class="form-control btn-primary px-0" (click)="deleteAllTalk()">全削除</button>
        </div>
    </form>
</div>