<div [ngClass]="derepoFlg == 'true' ? 'd-none' : 'd-block'">
    <div class="talk-list" [ngClass]="selected == 'true' ? 'bg-skyblue' : 'bg-default'">
        <div class="talk-block position-relative">
            <img class="talk-face position-absolute" src={{url}} crossorigin="anonymous">
            <div class="talk-balloon position-absolute">
                <p class="talk-name position-absolute">{{name}}</p>
                <pre class="talk-message position-absolute">{{message}}</pre>
            </div>
            <img class="talk-face2 position-absolute" src={{url2}} crossorigin="anonymous">
        </div>
    </div>
</div>
<div [ngClass]="derepoFlg == 'true' ? 'd-block' : 'd-none'">
    <div class="position-relative" [ngClass]="setNgClass">
        <img class="derepo-face2 position-absolute"  [ngClass]="firstFlg == 'true' ? 'd-none' : 'd-block'" src={{url}} crossorigin="anonymous">
        <img class="derepo-face3 position-absolute"  [ngClass]="firstFlg == 'true' ? 'd-none' : 'd-block'" src={{url2}} crossorigin="anonymous">
        <img class="derepo-face4 position-absolute"  [ngClass]="firstFlg == 'true' ? 'd-block' : 'd-none'" src={{url}} crossorigin="anonymous">
        <img class="derepo-face5 position-absolute"  [ngClass]="firstFlg == 'true' ? 'd-block' : 'd-none'" src={{url2}} crossorigin="anonymous">
        <div class="derepo-name position-absolute">{{name}}</div>
        <div class="derepo-message position-absolute">{{message}}</div>
        <div class="derepo-fav-star position-absolute">★</div>
        <div class="derepo-fav-button position-absolute"></div>
        <div class="derepo-favs position-absolute" [ngStyle]="favLeft">{{favs}}</div>
        <div class="position-absolute" [ngClass]="firstFlg == 'true' ? 'derepo-date-first' : 'derepo-date'">{{date}}</div>
    </div>
</div>
