.derepo-list{
    width: 100%;
}
@media screen and (min-width:768px) { 
    .derepo-list{
        width: 382px;
    }
}
.derepo-block-first{
    border-bottom-style: dotted;
    border-bottom-color: #808080;
    border-bottom-width: 1px;
}
.derepo-block{
    width: 100%;
    height: 100%;
}
.derepo-face{
    top: calc(100% * 11 / 92);
    left: 0;
    width: calc(100% * 42 / 382);
    height: calc(100% * 42 / 92);
}
.derepo-name{
    top: calc(100% * 9 / 92);
    left: calc(100% * 48 / 382);
    font: bold 14px/17.5px "Arial", sans-serif;
}
.derepo-message{
    top: calc(100% * 30 / 92);
    left: calc(100% * 48 / 382);
    width: calc(100% * 238 / 382);
    line-height: 1.25;
    font-family: "Arial", sans-serif;
    white-space: pre-wrap;
    word-break: break-all;
}
.derepo-fav-star{
    top: calc(100% * 13 / 92);
    left: calc(100% * 333 / 382);
    color: #959595;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    background-color: rgba(255,255,255,0.0);
}
.derepo-fav-button{
    top: calc(100% * 15 / 92);
    left: calc(100% * 325 / 382);
    border-width: 1px;
    border-style: solid;
    border-color: #DBDBDB;
    width: calc(100% * 45 / 382);
    height: calc(100% * 45 / 92);
    z-index: 0;
    background-color: rgba(255,255,255,0.0);
}
.derepo-favs{
    top: calc(100% * 41 / 92);
    font-family: "Arial", sans-serif;
    font-weight: bold;
    z-index: 1;
    width: calc(100% * 25 / 382);
    background-color: rgba(255, 255, 255, 0);
}
.derepo-date{
    left: calc(100% * 300 / 382);
    color: #959595;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    z-index: 2;
    white-space: nowrap;
    background-color: rgba(255,255,255,0.0);
}
