<div [ngClass]="derepoFlg == 'true' ? 'd-none' : 'd-block'">
    <div class="talk-list" [ngClass]="selected == 'true' ? 'bg-skyblue' : 'bg-default'">
        <div class="talk-block position-relative">
            <img class="talk-face position-absolute" src={{url}}>
            <div class="talk-balloon position-absolute">
                <p class="talk-name position-absolute">{{name}}</p>
                <pre class="talk-message position-absolute">{{message}}</pre>
            </div>
        </div>
    </div>
</div>
<div class="derepo-block position-relative" [ngClass]="derepoFlg == 'true' ? selected == 'true' ? 'bg-skyblue d-block' : 'd-block' : 'd-none'">
    <img class="derepo-face position-relative" src={{url}}>
    <div class="derepo-name position-relative">{{name}}</div>
    <div class="derepo-message position-relative">{{message}}</div>
    <div class="derepo-fav-button position-relative"></div>
    <div class="derepo-favs position-relative">2795</div>
    <div class="derepo-date position-relative">06-12 11:45</div>
    <div class="derepo-fav-star position-relative">★</div>
</div>