<div [ngClass]="derepoFlg == 'true' ? 'd-none' : 'd-block'">
    <div class="talk-list" [ngClass]="selected == 'true' ? 'bg-skyblue' : 'bg-default'">
        <div class="talk-block position-relative">
            <img class="talk-face position-absolute" src={{url}}>
            <div class="talk-balloon position-absolute">
                <p class="talk-name position-absolute">{{name}}</p>
                <pre class="talk-message position-absolute">{{message}}</pre>
            </div>
        </div>
    </div>
</div>
<div [ngClass]="derepoFlg == 'true' ? 'd-block' : 'd-none'">
        <div class="position-relative" [ngClass]="setNgClass">
            <img class="derepo-face position-absolute" src={{url}}>
            <div class="derepo-name position-absolute">{{name}}</div>
            <div class="derepo-message position-absolute">{{message}}</div>
            <div class="derepo-fav-star position-absolute">★</div>
            <div class="derepo-fav-button position-absolute"></div>
            <div class="derepo-favs position-absolute">{{favs}}</div>
            <div class="position-absolute" [ngClass]="firstFlg == 'true' ? 'derepo-date-first' : 'derepo-date'">{{date}}</div>
        </div>
</div>